/* Author : Samiul Kabir 
WebHero Programming Batch 4
Assignment 2 - Responsive Football
*/

/* -----------------
         Fonts 
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*------------------
       Common CSS
-------------------- */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
/* -----------------
    Banner Styles 
-------------------*/
header{
    background-color: #2D25A0;
    height: 677px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-title h1{
    font-size: 64px;
    color: white;
    line-height: 80px;
    margin-bottom: 27px;
}
.banner-button a{
    display: block;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    height: 24px;
    width: 120px;
    /* here height + top + bottom padding = 44px
    and width +lef+right padding= 168px */

}
.banner-img img{
    width: 556.01px;
    height: 438px;
}
.banner-button a:hover{
    background-color: white;
    color: #E02C6D;
    box-shadow: 0px 0px 60px 50px #e02c6d;
    height: 36px;
    width: 150px;
    font-size: 18px;
    transition: 1s;
}

header:hover .banner-title h1{
    text-shadow: 40px 40px 70px #e02c6d;
    transition: 2s;
}
@keyframes football-img {
    0%{width: 556.01px; height: 438px;}
    50%{width: 650px; height: 500px;}
    100%{width: 556.01px; height: 438px;}
}
header:hover .banner-img img{
    animation-name: football-img;
    animation-duration: 3s;
}

/* -----------------------
    Grid Articles Styles 
-------------------------*/
.article12{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}
.articles{
    padding: 15px 15px 15px 15px;
    width: 300px;
    height: 474px;
    margin: 15px 15px 15px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.articles img{
    Width: 300px;
    Height: 256px; 
}
.article-title{
    font-size: 28px;
}
.articles h2{
    margin-bottom: 10px;
    margin-top: 12px;
}
.articles p{
    margin-top: 0px;
    margin-bottom: 0px;

}
.article-detail{
    font-weight: 400;
    font-size: 16px;
    color: #6C6C6C;
    ;
}
/* -----------------------
    Bonus section 1
-------------------------*/
.section-title{
    color: #e02c6d;
}
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
.player img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.player h3{
    font-weight: 400;
    padding-left: 10px;
    font-size: 22px;
}

/* -----------------------
    Horizontal line
-------------------------*/
.line{
    width: 70%;
    color: black;
    box-shadow: 0px 0px 70px 7px grey;
    margin-bottom: 100px;
    margin-top: 100px;
}

/* -----------------------
    Bonus section 2
-------------------------*/
.matches{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 50px 1px grey;
    margin: 0px 15px;
    padding-top: 20px;
    border-radius: 30px;
}
.matches img{
    width: 250px;
    height: 190px;
    border-radius: 15px;
}
.matches h4{
    font-weight: 700;
}
.matches h5{
    font-weight: 400;
    color: #e02c6d;
    font-size: 20px;
    margin: -10px
}
.matches h6{
    font-weight: 400;
    color:grey;
    margin-bottom: 0px;
    margin-top: 10px;
}
.matches p{
    font-weight: 400;
    margin-top: 10px;
}

/* -----------------------
          Footer
-------------------------*/

.football img{
    width: 483.87px;
    height: 110px;
}
.footer-main{
    width: 483.87px;
    height: 213px;
    text-align: center;
}
.social-icons{
    height: 32px;
    margin-top: 20px;
    margin-bottom: 2px;
}
.fab{
    width: 32px;
    height: 32px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #e2dddd;
    color: #969BAB;
    margin-right: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.footer-main p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

/* -----------------------
       Media queries
-------------------------*/

/* Mobile Devices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .banner-title h1{
        font-size: 36px;
        line-height: 50px;
    }
    .banner-img img{
        width: 329px;
        height: 259.17px;
    }
    .article12{
        grid-template-columns: repeat(1, 1fr);
    }
    .football img{
        width: 75%;
        height:60%;
        margin-bottom: 30px;
    }
    .footer-main{
        margin-bottom: 169px;
    }
}